body {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	background-color: antiquewhite;
}

#todo-input {
	inline-size: 50%;
	padding: 10px;
	font-size: 18px;
	border: 1px solid #ccc;
	margin: 0 auto;
}

#add-btn {
	background-color: #4caf50;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-inline-start: 10px;
}

#add-btn:hover {
	background-color: #45a049;
}

#delete-btn {
	background-color: red;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-inline-start: 10px;
}

#delete-btn:hover {
	background-color: #8b0a1a;
}

.delete-btn {
	background-color: red;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-inline-start: 20rem;
}

.delete-btn:hover {
	background-color: #8b0a1a;
}

.todo-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#todo-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-inline-start: 6rem;
	margin-inline-end: 6rem;
	margin-block-start: 10px;
	text-align: start;
}

#todo-list li {
	padding: 10px;
	border-block-end: 1px solid #ccc;
}

#todo-list li:last-child {
	border-block-end: none;
}

.completed {
	text-decoration: line-through;
	color: black;
}

/* add this to fix the line-through issue */
#todo-list li input[type='checkbox']:checked + span {
	text-decoration: line-through;
	color: #ccc;
}
