body {
	font-family: Arial, sans-serif;
	background-color: #f4efe9;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

#message-container {
	flex: 1;
	padding: 20px;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
}

.message {
	max-width: 60%;
	margin-bottom: 10px;
	padding: 10px 15px;
	border-radius: 20px;
	position: relative;
}

.message.sent {
	align-self: flex-end;
	background-color: #d4a373;
	color: #fff;
}

.message.received {
	align-self: flex-start;
	background-color: #e7cba9;
	color: #333;
}

#send-container {
	display: flex;
	padding: 10px;
	background-color: #c9b79c;
}

#message-input {
	flex: 1;
	padding: 10px;
	border: none;
	border-radius: 20px;
	margin-right: 10px;
	outline: none;
	background-color: #fff7e6;
}

#send-button {
	background-color: #a57b5b;
	border: none;
	color: white;
	padding: 10px 20px;
	text-transform: uppercase;
	border-radius: 20px;
	cursor: pointer;
	outline: none;
}

#send-button:hover {
	background-color: #8b6544;
}
